<app-navbar></app-navbar>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div class="container padre">
        <div class="col-12">
            <div class="row">
                <section class="info col-12" id="proyectos">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quaerat explicabo fugit distinctio autem est officiis voluptatem atque veritatis cupiditate sunt facere nam saepe laboriosam fugiat quo obcaecati, laudantium cumque error. Eligendi, nisi dolor
                        fuga debitis veritatis quae consectetur reprehenderit, unde vero laborum doloribus assumenda nostrum deserunt expedita eaque mollitia, excepturi animi itaque commodi ipsam blanditiis! Ipsam commodi, itaque veniam ratione numquam
                        a fugit accusantium earum sint cupiditate deleniti deserunt mollitia officiis repellendus, animi maxime dolorem nesciunt voluptates iure! Ducimus, autem facere atque quas numquam reiciendis sit eligendi eius repudiandae laborum
                        exercitationem neque beatae dolorum eveniet debitis quam ipsam? Dignissimos placeat magni laudantium assumenda labore maiores facilis tempora dolorem iusto laborum, consectetur quidem distinctio quos provident! Dolores quaerat
                        possimus commodi modi aliquam distinctio pariatur consequuntur veritatis itaque suscipit inventore facilis reprehenderit mollitia eligendi eius quo quis architecto numquam, id doloribus nostrum debitis iusto? Eveniet eligendi aspernatur
                        natus animi possimus harum dignissimos quae sunt repellendus, provident modi! Magni hic eaque asperiores, cupiditate quae, aut adipisci animi accusamus deleniti obcaecati minima consequatur est impedit omnis sed debitis dicta,
                        molestiae alias? Officia veritatis ex aut exercitationem ut, aperiam soluta eligendi in ipsam ea enim! Consequuntur fugiat recusandae adipisci neque dolorum non laudantium necessitatibus sapiente corporis. Pariatur error dignissimos
                        tempora, tenetur expedita itaque ipsam sit delectus culpa quibusdam, eum suscipit? Unde ex sed dolorum officiis asperiores, dolores nihil assumenda. Debitis voluptate aliquam atque? Dignissimos dolor similique fugiat voluptates,
                        beatae temporibus quisquam corrupti praesentium perferendis ea incidunt, consectetur quibusdam. Fugit magni quo assumenda ducimus, molestias commodi reiciendis est voluptatibus autem eius hic nihil excepturi blanditiis quae unde
                        in maiores perferendis voluptas tempore eveniet culpa exercitationem. Ex numquam nisi blanditiis unde quidem harum eius rem, modi consequatur sapiente sint est rerum reiciendis voluptatum officia ut voluptatibus, repellat saepe,
                        dolorum sunt? Inventore in veritatis, consectetur quaerat vel, ratione architecto animi voluptate totam sapiente, exercitationem doloribus similique ipsum quo! At cumque, quod eaque fuga inventore molestias. In eius dolor quaerat
                        repellendus expedita quo sint odit ratione, officiis eos, deleniti veritatis non assumenda. Nemo laboriosam ullam dolore ad dignissimos incidunt hic consequuntur quibusdam rerum impedit placeat consectetur culpa quos ipsa facilis
                        aperiam quasi, sint expedita? Placeat deserunt officiis quidem ratione suscipit beatae iure assumenda odit sed deleniti ea ipsam minus itaque numquam architecto vel nobis eaque blanditiis, sapiente in eius? Quam recusandae odit
                        mollitia, in est dolorum. Iusto deserunt aliquid corporis aspernatur quam non laboriosam quos illum quasi repellendus, id modi enim, porro fugiat veniam sit magnam ad veritatis! Alias suscipit, reprehenderit nihil veritatis dignissimos
                        harum sint. Libero suscipit, rem sit in nemo nobis facilis, pariatur voluptatibus expedita est repudiandae natus! Temporibus suscipit fuga iure aut? Iure, ullam necessitatibus molestiae nostrum aliquid consequuntur odit illo voluptates
                        fugit, sint eum deserunt doloribus dolor dignissimos quidem cumque, quibusdam reiciendis atque maxime. Illum neque amet hic inventore? Dolores, asperiores laborum accusantium neque dicta fugit quam beatae temporibus eum officia
                        at accusamus explicabo itaque nam nemo, molestiae adipisci rerum? Ex harum quisquam pariatur cupiditate eum quia voluptatibus eveniet consequatur ut dignissimos odit temporibus vitae aliquid nisi vero, amet, laborum repudiandae
                        nemo sit consectetur, nostrum tenetur expedita beatae? Quis pariatur quam, deleniti dicta exercitationem ipsam perspiciatis laboriosam, corporis veniam a numquam soluta debitis optio ipsa itaque veritatis tempore earum unde voluptate
                        facilis possimus animi totam aut. Debitis maiores unde esse, dicta quo veritatis quos tempore, ipsa aliquam nulla perferendis optio architecto asperiores sed fugiat in nostrum velit quas? Reiciendis expedita praesentium fugiat
                        sunt accusantium aperiam quibusdam quidem dolores voluptatem, quia dicta? Quas ea, mollitia illum accusamus aut eos consequuntur voluptate facilis placeat maxime eius quo pariatur libero eveniet distinctio quae repellat hic ipsa.
                        Rem?
                    </p>
                </section>
            </div>
            <section class="row" id="tecno">
                <img src="../../assets/img/angular.png" alt="" />
                <img src="../../assets/img/html.png" alt="" width="180" height="150" />
                <img src="../../assets/img/js.png" alt="" />
                <img src="../../assets/img/c.png" alt="" />
                <img src="../../assets/img/java.png" alt="" />
                <img src="../../assets/img/ts.png" alt="" />
            </section>
        </div>
        <div class="row">
            <section class="container">
                <footer>
                    <div class="data">
                        <p>Ingeniero en Sistemas Computacionales</p>
                        <p>Miguel Edgardo Santiago Hernandez</p>
                        <p>Egresado del Instituto Tecnologico Superior de El Mante</p>
                    </div>
                    <div class="contacto col" id="contacto">
                        <ul>
                            <li class="social-item">
                                <i class="fab fa-facebook-f icon"></i>
                                <a class="network" href="https://www.facebook.com/sorth.hernandez">Miguel Hernandez</a></li>
                            <li class="social-item">
                                <i class="fab fa-facebook-f"></i>
                                <span class="network">miguelsant0929@gmail.com</span>
                            </li>
                            <li class="social-item">
                                <i class="fas fa-phone-alt"></i>
                                <span class="network">8311634102</span>
                            </li>
                        </ul>
                    </div>
                </footer>
            </section>
        </div>
    </div>
</body>

</html>